.header {
    display: flex;
    flex-direction: row;
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: right;
    margin: 0;
}

.header-logo {
    margin-right: auto;
    width: 12%;
}

.body {
    margin:0;
}

.container nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 20px;
}

.container a {
    color: white;
    text-decoration: none;
}

.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    color: white;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.form label {
    display: block;
    text-align: left; 
    margin: 10px;
}

.form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.form button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: white;
}

.form button:hover {
    opacity: 1.0;
    background-color: #45A049
}

.form a {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
}

.contact-method nav a:hover {
    color: #007BFF;   
    text-decoration: none;
}

.products {
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    width: calc(50% - 100px);
    border-radius: 10px;
}

.items:hover {
    background-color: #ffffff;
}

.items img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.items p {
    color: #007BFF;
    font-weight: bold;
}

.items button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    border: none;
}

.items button:hover {
     background-color: #45A049;
}

.removeButton {
    background-color: #ee0505c7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    border: none;

}

.removeButton:hover {
    background-color: #ff0000;
}

@media screen and (min-width: 769px) {
    .items {
        width: calc(50% - 100px)
    }
}

@media (max-width: 768px) {
    .items {
        width: calc(50% - 100px)
    }
}

@media (max-width: 480px) {
    .items {
        width: 100%; 
    }
}

#messageBox {
    display: none;    
    border: 2px solid black; 
    padding: 10px;
    margin: 20px;
    background-color: #f9f9f9;
}

/* CSS for the signup page starts here */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.signup-form-label {
    display: block;
    text-align: left; 
    margin: 10px;
}

.signup-form-input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.signup-form-button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    color: white;
}

.signup-form-button:hover {
    opacity: 1.0;
    background-color: #45A049
}

.signup-form-link {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

.signup-form-link:hover {
    text-decoration: underline;
}

.signup-message-box {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Add more specific styling for mobile responsiveness */
@media (max-width: 480px) {
    .signup-form {
        padding: 10px;
        margin: 10px;
    }
    
    .signup-form-input,
    .signup-form-button {
        width: 100%;
    }
}
